/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

.sora {
  font-family: "Sora", serif;
}

/* banner animation */
.hero-anim {
  animation: hero-anim 10s linear infinite;
}

@keyframes hero-anim {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
